
.triangle-down {
    width: 0; 
  height: 0; 
  border-left: 600px solid #1d1d1d;
  border-right: 600px solid #1d1d1d;
  border-top: 200px solid transparent;
}

.scrollable {
    background-image: url(C:\Users\amill\personal_website\PersonalWebsite\personal-website\src\assets\background.jpg);
}